# Build and test output
packages/
bin/
obj/

# Per-user files created by IDEs
*.suo
*.user
.vs/

# Created by the build script
build/nuget/
.nuget/nuget.exe
/TunnelVisionLabs.Collections.Trees.Benchmarks/BenchmarkDotNet.Artifacts/*
